<link href="/public/assets/css/bootstrap.css" rel="stylesheet" id="bootstrap-css">
<link href="/public/assets/css/app.css" rel="stylesheet">
<%- include('../admin/header.ejs') %>


<hr>
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1><%=user.userid%></h1></div>
    	<div class="col-sm-2"><a class="pull-right"><img title="profile image" class="img-circle img-responsive" src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a></div>
    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
              

      <div class="text-center">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Upload a different photo...</h6>
        <input type="file" class="text-center center-block file-upload">
      </div></hr><br>

               
          
          
          <ul class="list-group">
            <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Books Added</strong></span> 125</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Books Managed</strong></span> 78</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Orders Handeled</strong></span> 13</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Member removed</strong></span> 37</li>
          </ul> 
               
          
        </div><!--/col-3-->
    	<div class="col-sm-9">

              
          <div class="tab-content">
            <div class="tab-pane active" id="home">
                <hr>
                  <form class="form" action="##" method="post" id="registrationForm">
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="first_name"><h4>Full name</h4></label>
                              <input type="text" class="form-control" name="FullName" placeholder="full name"  value="<%= user.fullname %> " >
                          </div>
                      </div>
          
          
                      <div class="form-group">
                          <div class="col-xs-6">
                             <label for="mobile"><h4>Mobile</h4></label>
                              <input type="text" class="form-control" name="MobileNo."  placeholder="enter mobile number" value="<%= user.mobileno %> " >
                          </div>
                      </div>
                          
                          <div class="col-xs-6">
                              <label for="email"><h4>Email</h4></label>
                              <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email." value="<%= user.email %> ">
                          </div>
                      </div>

                        <div class="form-group">
                          
                            <div class="col-xs-6">
                                <label for="email"><h4>Bio</h4></label>
                                <textarea id="details" name="Details" cols="40" rows="5" class="form-control" placeholder="Some Details about the you...."><%=user.bio%></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                          
                          
                          <div class="col-xs-6">
                              <label for="password"><h4>Password</h4></label>
                              <input type="password" class="form-control" name="password" id="password" placeholder="new password" >
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="password2"><h4>Verify</h4></label>
                              <input type="password" class="form-control" name="password2" id="password2" placeholder="current password">
                          </div>
                      </div>
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                               	<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                      </div>
              	</form>
              
              <hr>
              

        </div><!--/col-9-->
    </div><!--/row-->
                                                      
    <script src="/public/assets/js/bootstrap.js"></script>
    <script src="/public/assets/js/jquery-3.5.1.js"></script>
    <script src="/public/assets/js/app-ui.js"></script>